* {
    margin: 0;
    padding: 0;
}
#sectionLeft h3{
    cursor: pointer;
    padding: 3px;
    padding-top: 5px;
}
body{
    background: #ECDEEC;
}
.header{
    color: #4A154B;
    background: #ECDEEC;
    width: 100%;
    height: 100px;
    text-align: center;
}
.image{
    background-size: cover;

}
.title-home{
    font-family: "Cooper Black";
    color: gainsboro;
}
title{
    font-family: "Cooper Black";
    color: purple;
}

li{
    font-family: "Arial Narrow";
    color: purple;
}
/*formularios/*
 */
.titulo-forms{
    font-family: Bahnschrift;
    align-content: center;
}
.formularios{
    align-items: center;
}
input{
    width : 150px;
    height: 20px;
    padding: 0;
    margin: 0;
    border: 1px;
    border-radius: initial;
}
button{
    border-radius: 8px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
button:hover{
    background-color: darkorchid; /* Green */
    color: white;
}
/* main = pantalla - header  == 100vh - 100 pixeles del header  -- VH significa viewport height (altura del dispositivo)  */

.section{
    color: #C6CFDE;
    background: #4A154B;
    width: 15%;
    height: 100%;
}
.aside{
    /* background: grey; */
    width: 85%;
    height: 100%;
}
.footer{
    color: #4A154B;
    background: #ECDEEC;
    width: 100%;
    height: 100px;
    text-align: center;
}
.display{
    display: none;
}
